* {
    font-size: medium;
}

hr {
    margin: 50px;
}

#add-alias input,
label {
    margin-top: 10px;
}

#add-alias input {
    width: 350px;
}

#display-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}